@import url(https://fonts.googleapis.com/css?family=Hind:500);

body {
  font-family: 'Hind', sans-serif;
}

svg {
  width: 20px;
  height: auto;
}

/* Product Card Design */
.category-title {
  font-size: small;
}
.rate-stars {
  overflow: hidden;
  height: 20px;
  width: auto;
}
.sub-price {
  font-size: small;
}
.price {
  font-size: medium;
}
.inner-card-img {
  overflow: hidden;
}
.inner-card-img .card-img-top {
  transition: all 1.2s ease-in;
}
.inner-card-img:hover .card-img-top {
  transform: scale(1.05);
}
.action-admin-btn {
  display: flex;
  justify-content: space-between;
}
.link-title {
  text-decoration: none;
}

/* Product Detail */
.buy-btn {
  text-decoration: none;
}
